/* GENERAL */

html {
  scroll-behavior: smooth;
}

html,
body {
  background: #1F1F1F;
}

.button-wrapper {
  margin-top: 1;
  margin-bottom: 15px;
}

/* ROOT FONT STYLES */

* {
  color: #fff;
}

/* SUNBURST STYLES */

.sunbusrt-nonclickable {
  cursor: default;
}

.sunburst-clickable {
  cursor: pointer;
}

/* TOGGLE SWITCH FOR HIDING ELEMENTS */

.button-toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.button-toggle:focus {
  outline: 0;
}

.button-toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.button-toggle:checked {
  border-color: #654FEC;
}

.button-toggle:checked:after {
  transform: translatex(20px);
}


/* SAVE IMAGE BUTTON */

.button-trigger {
  position: relative;
  background: #4a1942;
  display: inline-block;
  border-radius: 50em;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.button-trigger strong {
  position: relative;
  left: 0;
}