html {
  scroll-behavior: smooth;
}

html,
body,
footer.footer {
  background: #1F1F1F;
  color: #fff;
}

.sunburst-clickable {
  cursor: pointer;
}

.button {
  background-color: #4a1942;
  color: #fff;
}
.button:hover {
  color: #ccc;
}

.button[disabled] {
  border-color: #4a1942;
  color: #333;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #fff;
}
.button-link {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  text-decoration: underline;
}
.button-link:hover {
  cursor: pointer;
}