html {
  scroll-behavior: smooth;
}

html,
body,
footer.footer {
  background: #1F1F1F;
  color: #fff;
}
.modal {
  color: #000;
}

.sunburst-clickable {
  cursor: pointer;
}

.button.is-primary {
  background-color: #4a1942;
  color: #fff;
}
.button.is-primary:hover {
  background-color: #4a1942;
  color: #aaa;
}

.button.is-primary[disabled] {
  background-color: #fff;
  border-color: #4a1942;
  color: #333;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #fff;
}
.button-link {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  text-decoration: underline;
}
.button-link:hover {
  cursor: pointer;
}
.button.is-confirmation {
  color: transparent !important;
  pointer-events: none;
}
.button.is-confirmation:after {
  content: '\2713';
  display: inline-block;
  color: #ffffff;
  padding: 0 6px 0 0;
  height: 1em;
  width: 1em;
  left: calc(50% - (1em * .5));
  top: calc(50% - (1em * .75));
  position: absolute !important;
}

.button[disabled].is-confirmation:after {
  color: #363636;
}