/* GENERAL */
/* TODO factor this out in a sepate style.css file and one that specifically applies to App.tsx */
/* TODO base on https://concisecss.com/documentation/ui so we can have nice button groups easily */

html {
  scroll-behavior: smooth;
}

html,
body {
  background: #1F1F1F;
}

.button-wrapper {
  margin-top: 1;
  margin-bottom: 50px;
}

/* ROOT FONT STYLES */

* {
  color: #fff;
}

/* SUNBURST STYLES */

.sunburst-clickable {
  cursor: pointer;
}

/* SAVE IMAGE BUTTON */

.button-trigger {
  position: relative;
  background: #4a1942;
  display: inline-block;
  border-radius: 50em;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.button-trigger strong {
  position: relative;
  left: 0;
}